.billboardcontainer {
  display: flex;
  /* height: 80%; */
  width: 45%;
  justify-self: center;
  align-self: center;
}

.btn {
  height: 30px;
  width: auto;
  align-self: center;
  justify-self: center;
}
