.navcontainer {
  display: flex;
  margin-top: 2.5%;
  background-color: rgba(241, 241, 241, 0.534);
  flex-direction: row;
  border-radius: 40px;
  border: 0px solid black;
}
.navcontainer:hover {
  background-color: rgba(241, 241, 241, 0.767);
}
.navcontainer a {
  text-decoration: none;

  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  font-weight: 400;
  font-size: 16px;
  background: #fff;
  color: #696969;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.navcontainer a:hover {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
}

.navleft {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: flex-start;
  gap: 5%;
  padding-left: 2.5%;
}

.navright {
  display: flex;
  width: 50%;
  flex-direction: row;
  align-items: center;
  padding-right: 2.5%;
  justify-content: flex-end;
}
